# Dependencies
/vendor/
/node_modules/

# Logs
npm-debug.log
yarn-error.log
*.log

# Environment
.env
.env.backup
.env.production

# Laravel
/storage/*.key
/storage/pail
/public/storage
/public/hot
/public/build

# Cache / system
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

# IDE / Editor
/.idea/
/.vscode/
/.phpactor.json
/.nova
/.zed
/.codex
/.cursor

# OS files
.DS_Store
Thumbs.db

# Vagrant
/.vagrant